* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.diplomatic-view {
    overflow: hidden;
    position: relative;

    .text {
        position: absolute;
        top: 0;
        left: 0;

        .line-number {
            position: absolute;
            color: rgba(0, 200, 0, 1);
            font-family: monospace;
        }
    }

    .bounding-box {
        border: dashed 1px blue;
    }

    .word {
        font-size: 8px;
        font-family: monospace;
        white-space: nowrap;
    }

    .overlay {
        display: block;
    }
}