:root {
    --menu-height: 2rem;
}

body {
    margin-top: var(--menu-height);
}

#menu {
    font-size: 0.8em;
    height: var(--menu-height);
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    z-index: 20;
    background: white;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;

    a {
        color: blue;

        &:hover {
            color: black;
        }

        &.active {
            color: black;
        }
    }

    .slider, .toggle, .select {
        margin-left: auto;
    }

    .slider {
        margin-left: auto;

        input {
            vertical-align: middle;
        }
    }
}