.normalized-view {
    margin-left: 0.5em;
    white-space: pre-wrap;
    overflow: hidden;
    display: grid;
    width: fit-content;

    .text,
    .overlay {
        grid-area: 1 / 1;
    }

    .overlay {
        pointer-events: none;
    }

    .text {
        width: fit-content;
    }

    .line {
        display: flex;
        line-height: 1.75em;

        .line-number {
            flex-shrink: 0;
            font-family: monospace;
            margin-right: 0.5em;
            margin-left: 0.5em;
            color: grey;
        }

        .line-content {
        }
    }
}