.normalized-view {
    white-space: pre-wrap;
    overflow: hidden;
    display: grid;
    width: fit-content;

    .text,
    .overlay {
        grid-area: 1 / 1;
    }

    .overlay {
        pointer-events: none;
    }

    .text {
        width: fit-content;
    }

    .line {
        display: block;
        line-height: 1.75em;
        width: fit-content;

        .line-number {
            font-family: monospace;
            margin-right: 0.5em;
            margin-left: 1em;
            color: grey;
        }
    }
}