.header {
    display: flex;
    align-items: center;
    background: #eee;
    padding: 0.33rem 0.5rem;
    gap: 0.5rem;
    flex-shrink: 0;

    .region {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        button, .zoom-slider {
            background: white;
            border: 1px solid #ddd;
            border-radius: 0.2rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0.25rem 0.5rem;
        }

        button {
            height: 2rem;
        }

        button:disabled {
            opacity: 1;
            color: grey;
        }

        button.active {
            font-weight: bold;
        }
    }

    .spacer {
        flex: 1;
    }
}
