.resize-handle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;

    &:hover {
        background: #ddd;
    }

    &:focus-visible {
        outline: none;
    }

    &[data-resize-handle-active] {
        background: #ccc;
    }

    .resize-handle-grip {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #999;
        font-size: 1em;

        .grip-icon {
            width: 0.75em;
        }
    }

    &[data-direction="horizontal"] {
        width: 0.75em;
    }

    &[data-direction="vertical"] {
        height: 1rem;

        .grip-icon {
            transform: rotate(90deg);
        }
    }

}