.document-view .facsimile-view {
    overflow: hidden;
}

.document-view {
    --content-max-width: 65ch;

    .single-pane-layout {
        .normalized-view, .minimap-view {
            width: var(--content-max-width);
            max-width: 100%;
            margin-inline: auto;
        }
    }
}