.facsimile-view {
    button {
        background: #f0f0f0;
        border: 1px solid #ddd;
        border-radius: 0.2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0.25rem;
    }

    .controls {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 10;
        display: flex;
        gap: 0.5rem;
        background: white;
        padding: 0.5rem;
        border-radius: 0.25rem;
    }

    .navigation {
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        font-family: monospace;

        .buttons {
            display: flex;
            gap: 0.5rem;
            background: white;
            padding: 0.5rem;
            border-radius: 0.25rem;

            button {
                justify-content: center;

                &:disabled {
                    opacity: 1;
                    color: grey;
                }
            }
        }

        .info {
            background: rgba(255, 255, 255, 0.66);
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 0.8em;
        }
    }
}