.manifest-dropdown {
    background: white;
    border: 1px solid #ddd;
    border-radius: 0.2rem;
    height: 2rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1rem;
    width: 100%;
}